<% if @review.errors.any? %>
<ul>
    <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>


<%= form_for @review do |f| %>
Location: <%= f.collection_select(:location_id, Location.all, :id, :name) %>

<br />
Content : <%= f.text_area :content %>
<br />
<%= f.submit %>
<% end %>