<h3> Location </h3>
<p> <%= @location.name %> </p>
<%= link_to "Write a review for #{@location.name}", new_location_review_path(@location) %>

<h4> Reviews: </h4>
<% @location.reviews.each do |review| %> <br />
<div class="card">
    <div class="card-body">
        <%= link_to review.user.email, user_reviews_path(review.user) %>
        <%= review.created_at.strftime("%m/%d/%Y") %>
        <%= review.content %>
    </div>
</div>
<% end %>