<h3> Location </h3>
<p> <%= @location.name %> </p>
<%= link_to "Write a review for #{@location.name}", new_location_review_path(@location) %>

<h4> Reviews: </h4>
<% @location.reviews.each do |review| %> <br />
<div class="card">
    <div class="card-body">
        User: <% if user_signed_in? %>
        <%= link_to review.user.email, user_reviews_path(review.user) %><br />
        <% else %>
        <%= link_to "Log in to see user name", new_user_session_path %> <br />
        <% end %>
        Date:<%= review.created_at.strftime("%m/%d/%Y") %><br />
        Review: <%= review.content %><br />
    </div>
</div>
<% end %>